:root{
    --frontend-color: #E40066;
}
.frontend-skills{
    margin-top:4rem;
}
.frontend-skills svg{
    width:1.5rem;
    height:1.5rem;
}
.frontend-skills h4{
    margin-bottom:1rem;
}
.frontend-skills_container{
    display:flex;
    gap:1rem;
    color:var(--color-white);
}
.frontend-skills_bullet{
    background:var(--frontend-color);
    height:30px;
    display:flex;
    align-items:center;
    padding:0 .5rem;
    border-radius:5px;
    gap:.5rem;
}