
#workbefore .container{
    position:relative;
    padding:1rem;
    width:60vw;
    min-height:50vh;
}
#workbefore .section__title > h1{
    margin-bottom:0;
}
.corner1{
    position:absolute;
    height:200px;
    width:200px;
    background:var(--color-primary);
    z-index:1;
    top:0;
    left:0;
}
.corner2{
    position:absolute;
    height:200px;
    width:200px;
    background:var(--color-primary);
    z-index:1;
    bottom:0;
    right:0;
}
.inner-container{
    background:var(--color-bg);
    z-index:8;
    position:relative;
    padding:3rem;
    min-height:50vh;
}
#workbefore .section__title h1{
    font-size:3rem;
    line-height:3rem;
}
.total-experience{
    margin-bottom:2rem;
    margin-top:2rem;
}
.total-experience p{
    align-items: center;
    background: var(--frontend-color);
    border-radius: 5px;
    display: flex;
    gap: .5rem;
    height: 30px;
    padding: 0 .5rem;
    color:var(--color-white);
    width:fit-content;
}
