
#portfolio .container{
    background:var(--color-primary);
    color:var(--color-bg);
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.portfolio__container{
    display:flex;
    flex-direction:row-reverse;
    width:100%;
    gap:1rem;
}
.portfolio__container > * {
    width:33%;      
}
.portfolio__container ul{
    border-right:1px solid var(--color-bg);
}
.portfolio__container ul li{
    text-align:right;
    padding:1rem;
}
.portfolio__content{
    min-width:40%;
}
.portfolio__item-thumb{
    width:100%;
    height:300px;
    background:var(--color-bg);
    border-radius:10px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.portfolio__item-technologies{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    justify-content:end;
}
.portfolio__item-technologies-item{
    color:var(--color-bg);
    font-size:1.1rem;
}
.portfolio__item-description{
    background: var(--color-bg);
    color: var(--color-primary);
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.portfolio__item-status{
    font-size:1rem;
    line-height:1rem;
    opacity:.5;
}
.portfolio__item{
    padding:1.2rem;
    border:1px solid transparent;
    transition:var(--transition);
    text-align:right;
}

.portfolio__item-image{
    overflow:hidden;
}
.portfolio__item h3{
    margin:1.2rem 0 2rem;
    color:var(--color-primary);
}
.portfolio__item-cta{
    display:flex;
    gap:1rem;
    margin-bottom:1rem;
}
.portfolio__item::after{
    content:'';
    width:15%;
    height:.3rem;
    background:var(--color-bg);
    display:block;
    margin-top:1rem;
    float:right;
}
#portfolio .section__title{
    text-align:right;
    position:relative;
    width:100%;
}

#portfolio .section__title > h1::after{
    position:absolute;
    right:0;
    background:var(--color-bg);
}
#portfolio .section__title > h1{
    color:var(--color-bg);
}
/* ----------- MEDIA QUERIES (MD DEV) ------------- */
@media screen and (max-width:1024px){
    

}
/* ----------- MEDIA QUERIES (SM DEV) ------------- */
@media screen and (max-width:600px){
    .portfolio__container{
        flex-direction:column;
    }
    .portfolio__item{
        width:100%;
        padding:1.2rem 0;
    }
    .portfolio__item-title h2{
        font-size:1.5rem;
    }
}
