#contact{
    display:flex;
    justify-content:center;
    align-items:center;
}
.contact__container{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}
.contact__options{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
    width:40%;
}
.contact__options p{
    text-align:center;
}
.contact__option:hover{
    background:transparent; 
    border-color:var(--color-primary-gradient); 
}
#contact .section__title{
    text-align:center;
}
#contact .section__title h1::after{
    margin-left: 50%;
    transform: translateX(-50%);
}


/* ---------------- FORM ------------ */

form{
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}
input, textarea{
    width:100%;
    padding:1.5rem;
    border-radius:.5rem;
    background:transparent;
    border:2px solid var(--color-primary-variant);
    resize:none;
    color:var(--text-white);
}


/* ----------- MEDIA QUERIES (MD DEV) ------------- */
@media screen and (max-width:1024px){
    .contact__container{
        grid-template-columns: 1fr;
        gap:2rem;
    }
}
/* ----------- MEDIA QUERIES (SM DEV) ------------- */
@media screen and (max-width:600px){
    .contact__container{
        width:var(--container-width-sm);
    }
}