:root{
    --design-color: var(--color-primary);
}

.design-skills svg{
    width:1.5rem;
    height:1.5rem;
}
.design-skills h4{
    margin-bottom:1rem;
}
.design-skills_container{
    display:flex;
    gap:1rem;
    color:var(--color-bg);
}
.design-skills_bullet{
    background:var(--design-color);
    height:30px;
    display:flex;
    align-items:center;
    padding:0 .5rem;
    border-radius:5px;
    gap:.5rem;
}