:root{
    --source-color: var(--color-primary);
}

.source-skills svg{
    width:1.5rem;
    height:1.5rem;
}
.source-skills h4{
    margin-bottom:1rem;
}
.source-skills_container{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    color: var(--color-bg);
}
.source-skills_bullet{
    background:var(--source-color);
    height:30px;
    display:flex;
    align-items:center;
    padding:0 .5rem;
    border-radius:5px;
    gap:.5rem;
}