nav{
    z-index: 10;
    position: fixed;
    left: 2rem;
    top: 0;
    display: flex;
    gap:2rem;
    align-items: center;
    flex-direction: column;
}
.cta-btn{
    height:35px;
    display:flex;
    align-items:center;
    display:none !important;
}
nav a{
    background:transparent;
    border-radius:50%;
    display:flex;
    color:var(--color-secondary);
}
nav a:hover{
    scale:1.5;
    font-weight:900;
    color: var(--color-primary);
}
nav a.active {
    scale:1.5;
    color:var(--color-primary);

}
/* ----------- MEDIA QUERIES (MD DEV) ------------- */
@media screen and (max-width:1024px){
    

}
/* ----------- MEDIA QUERIES (SM DEV) ------------- */
@media screen and (max-width:600px){
    nav{
        left:1rem;
    }
}